<!DOCTYPE html>
<html>
<head>
  <title>StartupIdeas</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <ul>
    <li><%= link_to 'SUCollective', root_path %></li>
    <li><%= link_to 'About', '#' %></li>
    <% if logged_in? %>
      <li><%= link_to 'Log out', login_path(current_user), method: :delete %></li>
      <li><%= link_to current_user.email, '#' %></li>
    <% else %>
      <li><%= link_to 'Log in', new_login_path %></li>
      <li><%= link_to 'Register', new_register_path %></li>
    <% end %>
  </ul>
</header>
<div class="notice">
  <%= flash[:notice] %>
</div>
<div class="error">
  <%= flash[:error] %>
</div>

<%= yield %>

</body>
</html>
